section{
    display: flex;
    width: 100vw;
    height: 35vh;
}

section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .8s ease;
}

section img:hover{
    cursor: crosshair;
    width: 35vw;
    opacity: 1;
    filter: contrast(120%);
}