.header.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-img{
    position: fixed;
    left: 0%;
    top: 0%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    width: 100%;
    height: 100vh;
    margin-bottom: 80vh;
}


.shopping{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Edo', sans-serif;
    box-shadow: 1px 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    width: fit-content;
    background-color: #208800;
}

.shopping:hover{
    color: #212529;
    background-color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.6);
}