.nav-socialMedia{
    width: 100%;
    height: 10vh;
    background-color: rgba(71, 158, 180, 0.350);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-socialMedia{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.icon-socialMedia span{
    font-size: 40px;
    object-position: center;
    transition: all 0.5s;
    color: #fff;
}

.inner-icon{
    border-radius: 50%;
}

.inner-icon:hover{
    color: #000;
    transform: scale(1.1);
    transition: all 0.5s;
}
.socialMedia-div{
    width: 100%;
    position: absolute;
    left: 0;
    top: 30vh;
}