body {
  margin: 0;
  font-family: "Coutard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/images/advertisment.jpg");
}

code {
  font-family: "Coutard", serif
}

a{
  text-decoration: none;
}